<div *ngIf="position">

<mat-grid-list class="divider" cols="1" rowHeight="20px">
  <mat-grid-tile class="divider"></mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="120px">
  <mat-grid-tile>
    <button type="button" class="btn btn-primary" (click)="PuestoModal.open()">
      <i class="fas fa-plus"></i> Añadir Puesto</button>
      <ngx-smart-modal identifier="PuestoModal" #PuestoModal>
          <div class="modal-header">
            <h5 class="modal-title">
              Añadiendo nueva puesto a esta posición:
            </h5>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Cod. Empleado:</label>
                <input
                  class="form-control"
                  [(ngModel)]="CodEmpleado"
                  name="CodEmpleado"
                  id="CodEmpleado "
                  value="CodEmpleado"
                />
              </div>
            </form>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Nombre Empleado:</label>
                    <input
                      class="form-control"
                      [(ngModel)]="NombreEmpleado"
                      name="NombreEmpleado"
                      id="NombreEmpleado "
                      value="NombreEmpleado"
                    />
                  </div>
            </form>
            <form>
              <div class="form-group">
                  <label for="exampleFormControlTextarea1">Denominación Puesto:</label>
                  <input
                    class="form-control"
                    [(ngModel)]="position.FichaDPT.DenomPuesto"
                    name="position.FichaDPT.DenomPuesto"
                    id="position.FichaDPT.DenomPuesto "
                    value="{{position.FichaDPT.DenomPuesto}}"
                  />
                </div>
          </form>
            <form>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Situación:</label>
                <select
                  class="form-control"
                  [(ngModel)]="Situacion"
                  name="Situacion"
                  id="Situacion"
                >
                  <option>Una</option>
                  <option>Dos</option>
                  <option>Tres</option>
                  <option>Cuatro</option>
                  <option>P</option>

                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              (click)="PuestoModal.close()"
            >
              Cancelar
            </button>
            <button
              type="button"
              type="submit"
              (click)="
                addPuesto(position._id, position.CodigoDPT, CodEmpleado, position.FichaDPT.DenomPuesto, NombreEmpleado, Situacion);
                PuestoModal.close();
                openSnackBar('Puesto añadido', 'OK')
              "
              data-dismiss="PuestoModal"
              class="btn btn-primary"
            >
              Añadir Puesto
            </button>
          </div>
        </ngx-smart-modal>

  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list class="divider" cols="1" rowHeight="20px">
  <mat-grid-tile class="divider"></mat-grid-tile>
</mat-grid-list>
<input type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Buscar...">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Puesto</th>
      <th scope="col">Denominación</th>
      <th scope="col">Nombre Empleado</th>
      <th scope="col">Situación</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let puesto of position.Puestos | filter : searchText">
      <td>{{puesto.CodEmpleado}}</td>
      <td>{{puesto.DenomPuesto}}</td>
      <td>{{puesto.NombreEmpleado}}</td>
      <td>{{puesto.Situacion}}</td>
      <td>
        <button type="button" class="btn btn-success" (click)="EditPuestoModal.open()">
          <i class="far fa-edit"></i>
        </button>
        <ngx-smart-modal identifier="EditPuestoModal" #EditPuestoModal>
          <div class="modal-header">
            <h5 class="modal-title">
              Editando puesto:
            </h5>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Cod. Empleado:</label>
                <input
                  class="form-control"
                  [(ngModel)]="puesto.CodEmpleado"
                  name="puesto.CodEmpleado"
                  id="puesto.CodEmpleado "
                  value="{{puesto.CodEmpleado}}"
                  readonly
                />
              </div>
            </form>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Nombre Empleado:</label>
                    <input
                      class="form-control"
                      [(ngModel)]="puesto.NombreEmpleado"
                      name="puesto.NombreEmpleado"
                      id="puesto.NombreEmpleado "
                      value="{{puesto.NombreEmpleado}}"
                    />
                  </div>
            </form>
            <form>
              <div class="form-group">
                  <label for="exampleFormControlTextarea1">Denominación Puesto:</label>
                  <input
                    class="form-control"
                    [(ngModel)]="puesto.DenomPuesto"
                    name="puesto.DenomPuesto"
                    id="puesto.DenomPuesto "
                    value="{{puesto.DenomPuesto}}"
                    readonly
                  />
                </div>
          </form>
            <form>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Situación:</label>
                <select
                  class="form-control"
                  [(ngModel)]="puesto.Situacion"
                  name="puesto.Situacion"
                  id="puesto.Situacion"
                  value="{{puesto.Situacion}}"
                >
                  <option>Una</option>
                  <option>Dos</option>
                  <option>Tres</option>
                  <option>Cuatro</option>
                  <option>P</option>

                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              (click)="EditPuestoModal.close()"
            >
              Cancelar
            </button>
            <button
              type="button"
              type="submit"
              (click)="
                editPuesto(puesto._id, puesto.Position, puesto.CodDPT, puesto.CodEmpleado, puesto.DenomPuesto, puesto.NombreEmpleado, puesto.Situacion);
                EditPuestoModal.close();
                openSnackBar('Cambios guardados', 'OK')
              "
              data-dismiss="PuestoModal"
              class="btn btn-primary"
            >
              Editar Puesto
            </button>
          </div>
        </ngx-smart-modal>
        <button type="button" class="btn btn-danger" (click)="removePuesto(puesto._id);
        openSnackBar('Puesto eliminado', 'OK')">
          <i class="far fa-trash-alt"></i>
        </button>
      </td>

    </tr>
  </tbody>
</table>
</div>