h2 {
  text-align: center;
  font-weight: 700;
}

.btn-success {
  background-color: #50BF9F;
  border-color: #50BF9F;
}

.btn-danger {
  background-color: #f16051;
  border-color: #f16051;
}

input {
  font-size: 14px;
  width: 100%;
  text-align: center; 
}

table td {

  font-size: .541667rem;
  border-top: 1px solid #eee;
  vertical-align: middle;

}