<h2>Área</h2>
<h3>{{this.Area}}</h3>

<mat-grid-list class="divider" cols="1" rowHeight="60px">
    <mat-grid-tile class="divider"></mat-grid-tile>
  </mat-grid-list>

<mat-grid-list cols="3" rowHeight="200px">
    <mat-grid-tile>
        <mat-card>
          <h3 class="a">{{PositionsCount}}</h3>
          <h4>Nº Posiciones</h4>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <h3 class="b">{{EmployeesCount}}</h3>
            <h4>Nº Puestos</h4>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <h3 class="c">{{Vacantes}} / {{EmployeesCount}}</h3>
            <h4>Nº Vacantes</h4>
          </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

<mat-grid-list class="divider" cols="1" rowHeight="60px">
  <mat-grid-tile class="divider"></mat-grid-tile>
</mat-grid-list>

        <app-area-posititions-table></app-area-posititions-table>
  
