h2 {
  text-align: center;
  font-weight: 700;
}

h4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  color: #3675ac;
  font-weight: 500;
}

h6 {
  text-align: center;
  font-weight: 400;
}

mat-grid-tile {
  text-align: center;
}

h5 {
  text-align: left;
  font-weight: 400;
  color: #B39B7C;
}

mat-card-title {
  color: #3675ac;
}

li {
  text-align: left;
  margin: initial;
}

label {
    color: #B39B7C;
}

.btn-outline-info {
  background-color: #f16051;
  color: white;
  border-color: #f16051;
}

.btn-primary {
  background-color: #00CCB3;
  border-color: #00CCB3;
  display: flex;
  align-items: center;
  flex-direction: inherit;
  justify-content: space-evenly;
  
}

.btn-primary:hover {

  color: #fff;
  background-color: #00CCB3;
  border-color: #00CCB3;

}

.btn-danger {
  background-color: #f16051;
  border-color: #f16051;
}

.btn-secondary {
  background-color: #f16051;
  border-color: #f16051;
  color:  white;
}

.btn-warning {
  padding: 0;
  border-color: white;
  background-color: white;
  width: 20px;
}

.dpt-profile-container {
  margin: 0 50px 0 50px;
}

.list-group-item {
  background-color: #F0F1F5;
  border: 0px;
}

.fa-plus {
    text-align: left;
    margin: initial;
}

span{
  margin-left: 40px;
}

.form-group>label:first-child, form .form-group>span:first-child {
  color: #2E5C8A;
  font-size: 0.7rem;
  font-weight: 400;
}

.modal-header {
  background-color: #1875B1;
}

