input {
  font-size: 14px;
  width: 100%;
  text-align: center; 
}

.btn {

  margin: .02rem .5rem .25rem 0;
  background-color: #48A9C5;
  border-color: #48A9C5;

}

table td {

  font-size: .541667rem;
  border-top: 1px solid #eee;
  vertical-align: middle;

}

