h4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  color: #3675ac;
  font-weight: 500;
}

h6 {
  text-align: center;
  font-weight: 400;
}

.btn-outline-info {
  background-color: transparent;
  color: #1c5c8e;
  border-color: #1c5c8e;
}

.btn-success {
  background-color: #50BF9F;
  border-color: #50BF9F;
}

.btn-danger {
  background-color: #f16051;
  border-color: #f16051;
}

.btn-primary {
  background-color: #2E5C8A;
  border-color: #2E5C8A;
}



.dpt-profile-container {
  margin: 0 50px 0 50px;
}

h2 {
  text-align: center;
  color: black;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-weight: 400;
  font-size: 1rem;
  background-color: #FCBD37;
}

.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
  display: flex;
  flex-grow: 1;
  margin-right: 16px;
  margin-bottom: 20px;

}
.mat-expansion-panel-body {
  padding: 15px 24px 16px;
  background-color: #FCBD37;
}

.modal-header .modal-title {
  color: black;
  text-align: center;
  font-size: .916667rem;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: normal;
  margin: 30px 30px 10px 30px;
  padding: 0 .125rem;
}

.modal-header {
  background-color: #FCBD37;
}

.nsm-content {
  position: relative;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 2px;
  padding: 1rem;
  /* margin: 4rem; */
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
  outline: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  margin-top: 7rem;
  margin-bottom: 4rem;
  margin-left:  4rem;
  margin-right: 4rem;




}