<div *ngIf="position">
  <mat-grid-list class="divider" cols="1" rowHeight="30px">
    <mat-grid-tile class="divider"></mat-grid-tile>
  </mat-grid-list>

  <mat-tab-group>
    <mat-tab label="Complementos - Puntuación">
      <mat-grid-list cols="1" rowHeight="10px"> </mat-grid-list>
      <mat-grid-list class="divider" cols="1" rowHeight="20px">
        <mat-grid-tile class="divider"></mat-grid-tile>
      </mat-grid-list>
      <div *ngIf="position.vpt.Complementos.ComplDestino">
        <h2>Complemento Destino</h2>
        <button
        type="button"
        class="btn btn-primary"
        (click)="AddComplDestModal.open()"
      >
        <i class="fas fa-plus"></i> Añadir Complemento Destino
      </button>  
      <ngx-smart-modal identifier="AddComplDestModal" #AddComplDestModal>
        <div class="modal-header">
          <h5 class="modal-title">
            Añadiendo nuevo Complemento Destino:
          </h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Complemento:</label>
              <input
                class="form-control"
                [(ngModel)]="Complemento"
                name="Complemento"
                id="Complemento "
              />
            </div>
          </form>
          <form>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Grado:</label>
              <select
                class="form-control"
                [(ngModel)]="Grado"
                name="Grado"
                id="Grado"
              >
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                
              </select>
            </div>
          </form>
          <form>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Puntos:</label>
                <select
                  class="form-control"
                  [(ngModel)]="Puntos"
                  name="Puntos"
                  id="Puntos"
                >
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  
                </select>
              </div>
            </form>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlSelect1"
                      >Retribucion</label
                    >
                    <input
                      class="form-control"
                      type="text"
                      [(ngModel)]="Retribucion"
                      name="Retribucion"
                      id="Retribucion"
                    />
                  </div>
            </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            (click)="AddComplDestModal.close()"
          >
            Cancelar
          </button>
          <button
            type="button"
            type="submit"
            (click)="
              addComplDestino(position.vpt._id, position.vpt.CodDPT, Complemento, Grado, Puntos, Retribucion);
              AddComplDestModal.close();
              openSnackBar('Complemento Destino añadido', 'OK')
            "
            data-dismiss="SubcomplModal"
            class="btn btn-primary"
          >
            Añadir Compl
          </button>
        </div>
      </ngx-smart-modal>

        <mat-accordion
          *ngFor="let complemento of position.vpt.Complementos.ComplDestino"
        >
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>{{ complemento.Complemento }}</h4>
               
              </mat-panel-title>
              <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>

           

            <mat-grid-list cols="3" rowHeight="40px">
              <mat-grid-tile> <h4>Grado</h4> </mat-grid-tile>
              <mat-grid-tile> <h4>Puntos</h4> </mat-grid-tile>
              <mat-grid-tile> </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="3" rowHeight="100px">
              <mat-grid-tile>
                <h6>{{ complemento.Grado }}</h6>
              </mat-grid-tile>
              <mat-grid-tile>
                <h6>{{ complemento.Puntos }}</h6>
              </mat-grid-tile>
              <mat-grid-tile>
                <button type="button" class="btn btn-success">
                  <i class="far fa-edit"></i> Editar
                </button>
                <button type="button" class="btn btn-danger">
                  <i class="far fa-trash-alt"></i> Borrar
                </button>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-expansion-panel>
        </mat-accordion>
      
        <mat-grid-list class="divider" cols="1" rowHeight="20px">
          <mat-grid-tile class="divider"></mat-grid-tile>
        </mat-grid-list>
        <h2>Complemento Específico</h2>
        <button
        type="button"
        class="btn btn-primary"
        (click)="AddComplEspecModal.open()"
      >
        <i class="fas fa-plus"></i> Añadir Complemento Especifico
      </button>  
      <ngx-smart-modal identifier="AddComplespecModal" #AddComplEspecModal>
        <div class="modal-header">
          <h5 class="modal-title">
            Añadiendo nuevo Complemento Especifico:
          </h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Complemento:</label>
              <input
                class="form-control"
                [(ngModel)]="Complemento"
                name="Complemento"
                id="Complemento "
              />
            </div>
          </form>
          <form>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Grado:</label>
              <select
                class="form-control"
                [(ngModel)]="Grado"
                name="Grado"
                id="Grado"
              >
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                
              </select>
            </div>
          </form>
          <form>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Puntos:</label>
                <select
                  class="form-control"
                  [(ngModel)]="Puntos"
                  name="Puntos"
                  id="Puntos"
                >
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  
                </select>
              </div>
            </form>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlSelect1"
                      >Retribucion</label
                    >
                    <input
                      class="form-control"
                      type="text"
                      [(ngModel)]="Retribucion"
                      name="Retribucion"
                      id="Retribucion"
                    />
                  </div>
            </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            (click)="AddComplEspecModal.close()"
          >
            Cancelar
          </button>
          <button
            type="button"
            type="submit"
            (click)="
              addComplEspecifico(position.vpt._id, position.vpt.CodDPT, Complemento, Grado, Puntos, Retribucion);
              AddComplEspecModal.close();
              openSnackBar('Complemento Especifico añadido', 'OK')
            "
            data-dismiss="SubcomplModal"
            class="btn btn-primary"
          >
            Añadir Compl
          </button>
        </div>
      </ngx-smart-modal>


        <mat-accordion
          *ngFor="let complemento of position.vpt.Complementos.ComplEspecifico"
        >
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>{{ complemento.Complemento }}</h4>
              </mat-panel-title>
              <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>


            <div *ngIf="!complemento.Subcomplementos[0]">
            <mat-grid-list cols="4" rowHeight="40px">
              <mat-grid-tile> <h4>Grado</h4> </mat-grid-tile>
              <mat-grid-tile> <h4>Puntos</h4> </mat-grid-tile>
              <mat-grid-tile> <h4>Retribución</h4> </mat-grid-tile>
              <mat-grid-tile> <button
                type="button"
                class="btn btn-primary"
                (click)="SubcomplModal.open()"
              >
                <i class="fas fa-plus"></i> Añadir Subcomplemento
              </button>  
              <ngx-smart-modal identifier="SubcomplModal" #SubcomplModal>
                  <div class="modal-header">
                    <h5 class="modal-title">
                      Añadiendo nuevo subcomplemento:
                    </h5>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Subcomplemento:</label>
                        <input
                          class="form-control"
                          [(ngModel)]="SubComplemento"
                          name="SubComplemento"
                          id="SubComplemento "
                        />
                      </div>
                    </form>
                    <form>
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Grado:</label>
                        <select
                          class="form-control"
                          [(ngModel)]="Grado"
                          name="Grado"
                          id="Grado"
                        >
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                          <option>7</option>
                          <option>8</option>
                          
                        </select>
                      </div>
                    </form>
                    <form>
                        <div class="form-group">
                          <label for="exampleFormControlTextarea1">Puntos:</label>
                          <select
                            class="form-control"
                            [(ngModel)]="Puntos"
                            name="Puntos"
                            id="Puntos"
                          >
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            
                          </select>
                        </div>
                      </form>
                      <form>
                          <div class="form-group">
                              <label for="exampleFormControlSelect1"
                                >Retribucion</label
                              >
                              <input
                                class="form-control"
                                type="text"
                                [(ngModel)]="Retribucion"
                                name="Retribucion"
                                id="Retribucion"
                              />
                            </div>
                      </form>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal"
                      (click)="SubcomplModal.close()"
                    >
                      Cancelar
                    </button>
                    <button
                      type="button"
                      type="submit"
                      (click)="
                        addSubcompl(complemento._id, SubComplemento, Grado, Puntos, Retribucion);
                        getComplementoAvg(complemento._id);
                        SubcomplModal.close();
                        openSnackBar('Subcomplemento añadido', 'OK')
                      "
                      data-dismiss="SubcomplModal"
                      class="btn btn-primary"
                    >
                      Añadir Subcompl
                    </button>
                  </div>
                </ngx-smart-modal></mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="4" rowHeight="100px">
              <mat-grid-tile>
                <h6>{{ complemento.Grado }}</h6>
              </mat-grid-tile>
              <mat-grid-tile>
                <h6>{{ complemento.Puntos }}</h6>
              </mat-grid-tile>
              <mat-grid-tile>
                  <h6>{{ complemento.Retribucion }}</h6>
                </mat-grid-tile>
              <mat-grid-tile>
                <button type="button" class="btn btn-success">
                  <i class="far fa-edit"></i> Editar
                </button>
                <button type="button" class="btn btn-danger">
                  <i class="far fa-trash-alt"></i> Borrar
                </button>
              </mat-grid-tile>
            </mat-grid-list>
</div>
            <div *ngIf="complemento.Subcomplementos[0]">
              <mat-grid-list cols="5" rowHeight="40px">
                <mat-grid-tile> <h4>Subcomplemento</h4> </mat-grid-tile>
                <mat-grid-tile> <h4>Grado</h4> </mat-grid-tile>
                <mat-grid-tile> <h4>Puntos</h4> </mat-grid-tile>
                <mat-grid-tile> <h4>Retribución</h4> </mat-grid-tile>
                <mat-grid-tile>
                    <button
                    type="button"
                    class="btn btn-primary"
                    (click)="SubcomplModal.open()"
                  >
                    <i class="fas fa-plus"></i> Añadir Subcomplemento
                  </button>  
                  <ngx-smart-modal identifier="SubcomplModal" #SubcomplModal>
                      <div class="modal-header">
                        <h5 class="modal-title">
                          Añadiendo nuevo subcomplemento:
                        </h5>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="form-group">
                            <label for="exampleFormControlTextarea1">Subcomplemento:</label>
                            <input
                              class="form-control"
                              [(ngModel)]="SubComplemento"
                              name="SubComplemento"
                              id="SubComplemento "
                            />
                          </div>
                        </form>
                        <form>
                          <div class="form-group">
                            <label for="exampleFormControlTextarea1">Grado:</label>
                            <select
                              class="form-control"
                              [(ngModel)]="Grado"
                              name="Grado"
                              id="Grado"
                            >
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              
                            </select>
                          </div>
                        </form>
                        <form>
                            <div class="form-group">
                              <label for="exampleFormControlTextarea1">Puntos:</label>
                              <select
                                class="form-control"
                                [(ngModel)]="Puntos"
                                name="Puntos"
                                id="Puntos"
                              >
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                
                              </select>
                            </div>
                          </form>
                          <form>
                              <div class="form-group">
                                  <label for="exampleFormControlSelect1"
                                    >Retribucion</label
                                  >
                                  <input
                                    class="form-control"
                                    type="text"
                                    [(ngModel)]="Retribucion"
                                    name="Retribucion"
                                    id="Retribucion"
                                  />
                                </div>
                          </form>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-dismiss="modal"
                          (click)="SubcomplModal.close()"
                        >
                          Cancelar
                        </button>
                        <button
                          type="button"
                          type="submit"
                          (click)="
                            addSubcompl(complemento._id, SubComplemento, Grado, Puntos, Retribucion);
                            SubcomplModal.close();
                            openSnackBar('Subcomplemento añadido', 'OK')
                          "
                          data-dismiss="SubcomplModal"
                          class="btn btn-primary"
                        >
                          Añadir Subcompl
                        </button>
                      </div>
                    </ngx-smart-modal>
                </mat-grid-tile>
              </mat-grid-list>
              <mat-grid-list
                *ngFor="let subcomplemento of complemento.Subcomplementos"
                cols="5"
                rowHeight="100px"
                id="subcomplementos"
              >
                <mat-grid-tile>
                  <h6>{{ subcomplemento.SubComplemento }}</h6>
                </mat-grid-tile>
                <mat-grid-tile>
                  <h6>{{ subcomplemento.Grado }}</h6>
                </mat-grid-tile>
                <mat-grid-tile>
                  <h6>{{ subcomplemento.Puntos }}</h6>
                </mat-grid-tile>
                <mat-grid-tile>
                    <h6>{{ subcomplemento.Retribucion }}</h6>
                  </mat-grid-tile>
                <mat-grid-tile>
                  <button type="button" class="btn btn-success" (click)="EditSubcomplModal.open()">
                    <i class="far fa-edit"></i> Editar
                  </button>
                  <ngx-smart-modal identifier="EditSubcomplModal" #EditSubcomplModal>
                    <div class="modal-header">
                      <h5 class="modal-title">
                        Editando nuevo subcomplemento:
                      </h5>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="form-group">
                          <label for="exampleFormControlTextarea1">Subcomplemento:</label>
                          <input
                            class="form-control"
                            [(ngModel)]="subcomplemento.SubComplemento"
                            name="subcomplemento.SubComplemento"
                            id="subcomplemento.SubComplemento "
                            value="{{subcomplemento.SubComplemento}}"
                          />
                        </div>
                      </form>
                      <form>
                        <div class="form-group">
                          <label for="exampleFormControlTextarea1">Grado:</label>
                          <select
                            class="form-control"
                            [(ngModel)]="subcomplemento.Grado"
                            name="subcomplemento.Grado"
                            id="subcomplemento.Grado"
                            value="{{subcomplemento.Grado}}"
                          >
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            
                          </select>
                        </div>
                      </form>
                      <form>
                          <div class="form-group">
                            <label for="exampleFormControlTextarea1">Puntos:</label>
                            <select
                              class="form-control"
                              [(ngModel)]="subcomplemento.Puntos"
                              name="subcomplemento.Puntos"
                              id="subcomplemento.Puntos"
                              value="{{subcomplemento.Puntos}}"
                            >
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                              <option>10</option>
                              
                            </select>
                          </div>
                        </form>
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1"
                                  >Retribucion</label
                                >
                                <input
                                  class="form-control"
                                  type="text"
                                  [(ngModel)]="subcomplemento.Retribucion"
                                  name="subcomplemento.Retribucion"
                                  id="subcomplemento.Retribucion"
                                  value="{{subcomplemento.Retribucion}}"
                                />
                              </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                        (click)="EditSubcomplModal.close()"
                      >
                        Cancelar
                      </button>
                      <button
                        type="button"
                        type="submit"
                        (click)="
                          editSubcompl(subcomplemento._id, subcomplemento.Complemento, subcomplemento.SubComplemento, subcomplemento.Grado, subcomplemento.Puntos, subcomplemento.Retribucion);
                          EditSubcomplModal.close();
                          getComplementoAvg(complemento._id);
                          openSnackBar('Subcomplemento editado', 'OK')
                        "
                        data-dismiss="EditSubcomplModal"
                        class="btn btn-primary"
                      >
                        Editar Subcompl
                      </button>
                    </div>
                  </ngx-smart-modal>
                  <button type="button" class="btn btn-danger" (click)="removeSubcompl(subcomplemento._id);                           getComplementoAvg(complemento._id);
                  ">
                    <i class="far fa-trash-alt"></i> Borrar
                  </button>
                </mat-grid-tile>
              </mat-grid-list>
              <mat-grid-list class="divider" cols="1" rowHeight="20px">
                <mat-grid-tile class="divider"></mat-grid-tile>
              </mat-grid-list>
              <mat-grid-list cols="5" rowHeight="40px">
                <mat-grid-tile> <h4 (click)="
                  getComplementoAvg(complemento._id)">
                  <!-- editComplemento(complemento._id, complemento.Valor, complemento.CodDPT, complemento.Complemento, complemento.Grado, complemento.Puntos, complemento.Retribucion, complemento.Subcomplementos, complemento.AvgGrado, complemento.AvgPuntos, complemento.AvgRetribucion)"> -->
                  Total {{ complemento.Complemento }}</h4> </mat-grid-tile>
                <mat-grid-tile> <h4>Grados</h4> </mat-grid-tile>
                <mat-grid-tile> <h4>Puntos</h4> </mat-grid-tile>
                <mat-grid-tile> <h4>Retribución {{ complemento.Complemento }}</h4> </mat-grid-tile>

              </mat-grid-list>
              <mat-grid-list cols="5" rowHeight="100px">
                <mat-grid-tile>  </mat-grid-tile>
                <mat-grid-tile>
                  <h6> {{complemento.AvgGrado}}</h6>
                </mat-grid-tile>
                <mat-grid-tile>
                  <h6>{{ complemento.AvgPuntos }}</h6>
                </mat-grid-tile>
                <mat-grid-tile>
                  <h6>{{ complemento.AvgRetribucion }}</h6>
                </mat-grid-tile>
              </mat-grid-list>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>
    <mat-tab label="Complementos - Retribución">
      <div class="dpt-profile-container">
        <div class="row">
          <div class="col">
            <h4>Salario Base:</h4>
            {{ position.retribucion.Sbase }} EUR.
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4>Puesto CE:</h4>
            {{ position.retribucion.PuestoCe }}
          </div>
          <div class="col">
            <h4>Importe Puesto CE:</h4>
            {{ position.retribucion.ImportePuestoCE }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4>Puesto CD:</h4>
            {{ position.retribucion.PuestoCD }}
          </div>
          <div class="col">
            <h4>Importe Puesto CD:</h4>
            {{ position.retribucion.ImportePuestoCd }}
          </div>
        </div>
      </div>
      <mat-grid-list cols="1" rowHeight="120px">
        <mat-grid-tile>
          <button type="button" class="btn btn-primary">
            <i class="far fa-edit"></i> Editar
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
  </mat-tab-group>
</div>
