<div *ngIf="position">
  <mat-grid-list class="divider" cols="1" rowHeight="30px">
    <mat-grid-tile class="divider"></mat-grid-tile>
  </mat-grid-list>

  <mat-tab-group>
    <mat-tab label="Complementos - Puntuación">
      <mat-grid-list cols="1" rowHeight="10px"> </mat-grid-list>
      <mat-grid-list class="divider" cols="1" rowHeight="20px">
        <mat-grid-tile class="divider"></mat-grid-tile>
      </mat-grid-list>
      <div *ngIf="position.vpt.Complementos.ComplDestino">
        <h2>Complemento Destino</h2>

        <mat-accordion
          *ngFor="let complemento of position.vpt.Complementos.ComplDestino"
        >
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>{{ complemento.Complemento }}</h4>
              </mat-panel-title>
              <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-grid-list cols="3" rowHeight="40px">
              <mat-grid-tile> <h4>Grado</h4> </mat-grid-tile>
              <mat-grid-tile> <h4>Puntos</h4> </mat-grid-tile>
              <mat-grid-tile> </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="3" rowHeight="100px">
              <mat-grid-tile>
                <h6>{{ complemento.Grado }}</h6>
              </mat-grid-tile>
              <mat-grid-tile>
                <h6>{{ complemento.Puntos }}</h6>
              </mat-grid-tile>
              <mat-grid-tile>
                <button type="button" class="btn btn-success">
                  <i class="far fa-edit"></i> Editar
                </button>
                <button type="button" class="btn btn-danger">
                  <i class="far fa-trash-alt"></i> Borrar
                </button>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-expansion-panel>
        </mat-accordion>
        <!--
          <div *ngFor="let complemento of position.vpt.Complementos.ComplDestino; let i = index" class="accordion" id="accordion{{i}}">
        -->

        <!--
          <mat-grid-list cols="4" rowHeight="40px">
            <mat-grid-tile>
              <h4>Complemento</h4>
            </mat-grid-tile>
            <mat-grid-tile>
              <h4>Grado</h4>
            </mat-grid-tile>
            <mat-grid-tile>
              <h4>Puntos</h4>
            </mat-grid-tile>
            <mat-grid-tile>
              <button type="button" class="btn btn-primary">
                <i class="fas fa-plus"></i> Añadir Compl. Destino</button>
            </mat-grid-tile>
          </mat-grid-list>
        -->
        <!-- <div *ngIf="position.FichaDPT.Colectivo =='(F) Funcionario'"> -->
        <!--
          <mat-grid-list *ngFor="let complemento of position.vpt.Complementos.ComplDestino" cols="4" rowHeight="100px">
            <mat-grid-tile>
              <h6>{{complemento.Complemento}}</h6>
            </mat-grid-tile>
            <mat-grid-tile>
              <h6>{{complemento.Grado}}</h6>
            </mat-grid-tile>
            <mat-grid-tile>
              <h6>{{complemento.Puntos}}</h6>
            </mat-grid-tile>
            <mat-grid-tile>
              <button type="button" class="btn btn-success">
                <i class="far fa-edit"></i> Editar </button>
              <button type="button" class="btn btn-danger">
                <i class="far fa-trash-alt"></i> Borrar </button>
            </mat-grid-tile>
          </mat-grid-list>
          </div>
        -->
        <!-- </div> -->
        <mat-grid-list class="divider" cols="1" rowHeight="20px">
          <mat-grid-tile class="divider"></mat-grid-tile>
        </mat-grid-list>
        <h2>Complemento Específico</h2>

        <mat-accordion
          *ngFor="let complemento of position.vpt.Complementos.ComplEspecifico"
        >
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>{{ complemento.Complemento }}</h4>
              </mat-panel-title>
              <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-grid-list cols="4" rowHeight="40px">
              <mat-grid-tile> <h4>Grado</h4> </mat-grid-tile>
              <mat-grid-tile> <h4>Puntos</h4> </mat-grid-tile>
              <mat-grid-tile> <h4>Retribución</h4> </mat-grid-tile>

              <mat-grid-tile> </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="4" rowHeight="100px">
              <mat-grid-tile>
                <h6>{{ complemento.Grado }}</h6>
              </mat-grid-tile>
              <mat-grid-tile>
                <h6>{{ complemento.Puntos }}</h6>
              </mat-grid-tile>
              <mat-grid-tile>
                  <h6>{{ complemento.Retribucion }}</h6>
                </mat-grid-tile>
              <mat-grid-tile>
                <button type="button" class="btn btn-success">
                  <i class="far fa-edit"></i> Editar
                </button>
                <button type="button" class="btn btn-danger">
                  <i class="far fa-trash-alt"></i> Borrar
                </button>
              </mat-grid-tile>
            </mat-grid-list>

            <div *ngIf="complemento.Subcompl[0]">
              <mat-grid-list cols="5" rowHeight="40px">
                <mat-grid-tile> <h4>Subcomplemento</h4> </mat-grid-tile>
                <mat-grid-tile> <h4>Grado</h4> </mat-grid-tile>
                <mat-grid-tile> <h4>Puntos</h4> </mat-grid-tile>
                <mat-grid-tile> <h4>Retribución</h4> </mat-grid-tile>

                <mat-grid-tile> </mat-grid-tile>
              </mat-grid-list>
              <mat-grid-list
                *ngFor="let subcomplemento of complemento.Subcompl"
                cols="5"
                rowHeight="100px"
                id="subcomplementos"
              >
                <mat-grid-tile>
                  <h6>{{ subcomplemento.SubComplemento }}</h6>
                </mat-grid-tile>
                <mat-grid-tile>
                  <h6>{{ subcomplemento.Grado }}</h6>
                </mat-grid-tile>
                <mat-grid-tile>
                  <h6>{{ subcomplemento.Puntos }}</h6>
                </mat-grid-tile>
                <mat-grid-tile>
                    <h6>{{ subcomplemento.Retribucion }}</h6>
                  </mat-grid-tile>
                <mat-grid-tile>
                  <button type="button" class="btn btn-success">
                    <i class="far fa-edit"></i> Editar
                  </button>
                  <button type="button" class="btn btn-danger">
                    <i class="far fa-trash-alt"></i> Borrar
                  </button>
                </mat-grid-tile>
              </mat-grid-list>
              <mat-grid-list class="divider" cols="1" rowHeight="20px">
                <mat-grid-tile class="divider"></mat-grid-tile>
              </mat-grid-list>
              <mat-grid-list cols="5" rowHeight="40px">
                <mat-grid-tile> <h4>Total {{ complemento.Complemento }}</h4> </mat-grid-tile>
                <mat-grid-tile> <h4>Grados</h4> </mat-grid-tile>
                <mat-grid-tile> <h4>Puntos</h4> </mat-grid-tile>
                <mat-grid-tile> <h4>Retribución {{ complemento.Complemento }}</h4> </mat-grid-tile>

              </mat-grid-list>
              <mat-grid-list cols="5" rowHeight="100px">
                <mat-grid-tile>  </mat-grid-tile>
                <mat-grid-tile>
                  <h6>{{complemento.Subcompl.length}}</h6>
                </mat-grid-tile>
                <mat-grid-tile>
                  <h6>{{ complemento.Subcompl.length }}</h6>
                </mat-grid-tile>
              </mat-grid-list>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>
    <mat-tab label="Complementos - Retribución">
      <div class="dpt-profile-container">
        <div class="row">
          <div class="col">
            <h4>Salario Base:</h4>
            {{ position.retribucion.Sbase }} EUR.
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4>Puesto CE:</h4>
            {{ position.retribucion.PuestoCe }}
          </div>
          <div class="col">
            <h4>Importe Puesto CE:</h4>
            {{ position.retribucion.ImportePuestoCE }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4>Puesto CD:</h4>
            {{ position.retribucion.PuestoCD }}
          </div>
          <div class="col">
            <h4>Importe Puesto CD:</h4>
            {{ position.retribucion.ImportePuestoCd }}
          </div>
        </div>
      </div>
      <mat-grid-list cols="1" rowHeight="120px">
        <mat-grid-tile>
          <button type="button" class="btn btn-primary">
            <i class="far fa-edit"></i> Editar
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
  </mat-tab-group>
</div>
