<mat-grid-list class="divider" cols="1" rowHeight="60px">
    <mat-grid-tile class="divider"></mat-grid-tile>
  </mat-grid-list>
  <input type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Buscar...">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Cód. DPT</th>
            <th scope="col">Denominación</th>
            <th scope="col">Área</th>
            <th scope="col">Colectivo</th>
            <th scope="col">Forma Provisión</th>
            <th scope="col">Nº Puestos</th>
            <th scope="col">Nº Vacantes</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let AreaPosition of AreaPositions | filter : searchText" >
            <td>{{AreaPosition.CodigoDPT}}</td>
            <td>{{AreaPosition.FichaDPT.DenomPuesto}}</td>
            <td>{{AreaPosition.FichaDPT.Area}}</td>
            <td>{{AreaPosition.FichaDPT.Colectivo}}</td>
            <td>{{AreaPosition.FichaDPT.FormaProvision}}</td>
            <td>{{AreaPosition.Puestos.length}}</td>
            <td>{{AreaPosition.Vacantes.length}} / {{AreaPosition.Puestos.length}}</td>
            <!-- <td><button type="button" href='#name' [routerLink]="['/Posicion', AreaPosition._id]"><i class="fas fa-search-plus"></i></button></td> -->
            <td><button type="button" href='#name' [routerLink]="['/Posicion', AreaPosition._id]" class="btn btn-primary">
              <i class="fas fa-search-plus"></i></button></td>
          </tr>
        </tbody>
      </table>

  <mat-grid-list class="divider" cols="1" rowHeight="20px">
    <mat-grid-tile class="divider"></mat-grid-tile>
  </mat-grid-list>

      <mat-grid-list cols="3" rowHeight="110px">
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile> <button
          type="button"
          class="btn btn-primary"
          (click)="AddNewDptModal.open()"
        >
          <i class="fas fa-plus"></i> Crear nueva DPT
        </button></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
      </mat-grid-list>
    
      <mat-grid-list class="divider" cols="1" rowHeight="20px">
        <mat-grid-tile class="divider"></mat-grid-tile>
      </mat-grid-list>
      <ngx-smart-modal identifier="AddNewDptModal" #AddNewDptModal>
        <div class="modal-header">
          <h5 class="modal-title">Añadiendo nueva DPT:</h5>
        </div>
        <div class="modal-body">
          <mat-grid-list class="divider" cols="1" rowHeight="20px">
            <mat-grid-tile class="divider"></mat-grid-tile>
          </mat-grid-list>
          <form #myForm="ngForm">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="exampleFormControlTextarea1"
                    >Introduce nuevo Código DPT:</label
                  >
                  <input
                    class="form-control"
                    [(ngModel)]="CodigoDPT"
                    name="CodigoDPT"
                    id="CodigoDPT"
                    value="CodigoDPT"
                  />
                </div>
              </div>
              </div>
          </form>
        </div>
        <mat-grid-list class="divider" cols="1" rowHeight="20px">
          <mat-grid-tile class="divider"></mat-grid-tile>
        </mat-grid-list>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            (click)="AddNewDptModal.close()"
          >
            Cancelar
          </button>
          <button
            type="button"
            type="submit"
            data-dismiss="AddNewDptModal"
            (click)="
              addDPT(area,
               CodigoDPT
              );
              AddNewDptModal.close();
              myForm.reset()
            "
            class="btn btn-primary"
          >
            Añadir DPT
          </button>
        </div>
      </ngx-smart-modal>
    
