<mat-grid-list class="divider" cols="1" rowHeight="60px">
    <mat-grid-tile class="divider"></mat-grid-tile>
  </mat-grid-list>
  <input type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Buscar...">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Cód. DPT</th>
            <th scope="col">Denominación</th>
            <th scope="col">Área</th>
            <th scope="col">Colectivo</th>
            <th scope="col">Forma Provisión</th>
            <th scope="col">Nº Puestos</th>
            <th scope="col">Nº Vacantes</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let AreaPosition of AreaPositions | filter : searchText" >
            <td>{{AreaPosition.CodigoDPT}}</td>
            <td>{{AreaPosition.FichaDPT.DenomPuesto}}</td>
            <td>{{AreaPosition.FichaDPT.Area}}</td>
            <td>{{AreaPosition.FichaDPT.Colectivo}}</td>
            <td>{{AreaPosition.FichaDPT.FormaProvision}}</td>
            <td>{{AreaPosition.Puestos.length}}</td>
            <td>{{AreaPosition.Vacantes.length}} / {{AreaPosition.Puestos.length}}</td>
            <!-- <td><button type="button" href='#name' [routerLink]="['/Posicion', AreaPosition._id]"><i class="fas fa-search-plus"></i></button></td> -->
            <td><button type="button" href='#name' [routerLink]="['/Posicion', AreaPosition._id]" class="btn btn-primary">
              <i class="fas fa-search-plus"></i></button></td>
          </tr>
        </tbody>
      </table>
