<html>
<form> 
  <div class="background">
    <div class="wrapper fadeInDown">

        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="active"> RPT By </h2>
        
            <!-- Icon -->
            <div class="fadeIn first">
              <img src="../../assets/images/logo_las_rozas.png" width="200px"/>
              <mat-grid-list class="divider" cols="1" rowHeight="20px">
                <mat-grid-tile class="divider"></mat-grid-tile>
              </mat-grid-list>
            </div>
        
            <!-- SignUp Form -->
            <form>
                <input input type="text" [(ngModel)]="username" name="username" placeholder="Selecciona un nombre usuario">
                <input type="text" [(ngModel)]="email" class="fadeIn second" name="email"  placeholder="Tu dirección mail">
                <input type="password" [(ngModel)]="password" name="password" placeholder="Introduce un password">

      </form>
  
      <p routerLink="/login">¿Ya registrado?</p>
        
      <mat-grid-list class="divider" cols="1" rowHeight="20px">
        <mat-grid-tile class="divider"></mat-grid-tile>
      </mat-grid-list>
  
      <div id="formFooter">
          <button (click)="signup(username,email,password);
          openSnackBar('Bienvenid@', '!!')"
           class="btn btn-info"> Registrarme </button>
        </div>
          </div>

</div>
</div>
  
  </form>
</html>