<ng-container>
        <div *ngIf='Auth.user'>
    <mat-toolbar class="app-header">
        <!-- <div class="logo-background">
                <img class="logo" src="../assets/images/logo_rozas.png" width="200px">
        </div> -->
        <button mat-button (click)="sidenav.toggle()">
            <h2>
                <img src='../assets/images/menu.png'>
            </h2>
        </button>
        <span class="header-spacer"></span>
        <div *ngIf='Auth.user'>
        <span>   Hola {{Auth.user.username}} </span>
        </div>
        <button mat-button [matMenuTriggerFor]="menu">
            <img src="../assets/images/user.png" width="40px">
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Editar Perfil</button>
            <button mat-menu-item (click)="logout()">Log Out</button>
        </mat-menu>
    </mat-toolbar>
    </div>

    <mat-sidenav-container class="app-container">
        <mat-sidenav class="app-sidenav" #sidenav mode="side" [(opened)]="opened">
            <mat-nav-list>
                <a mat-list-item class="app-sidenav">
                    <a routerLink="/Complementos/1234"></a>
                </a>
                <a mat-list-item class="app-sidenav">
                    <a matLine routerLink="/">Dashboard</a>
                </a>
                <app-side-bar-menu></app-side-bar-menu>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
                <div *ngIf='Auth.user'>
            <img src='../assets/images/header.png'>
            </div>
            <mat-grid-list class="divider" cols="1" rowHeight="30px">
                <mat-grid-tile class="divider"></mat-grid-tile>
            </mat-grid-list>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>

    <mat-toolbar class="app-footer">
        <span class="footer-spacer"></span>
        <!-- <img src="../assets/images/escudo.svg" width="35px"> -->
        <div *ngIf='Auth.user'>
        <img src="../assets/images/logo_las_rozas.png" width="125px">
        </div>
    </mat-toolbar>
</ng-container>
