<div *ngIf='Auth.user'>

<mat-grid-list cols="3" rowHeight="200px">
    <mat-grid-tile>
        <mat-card>
          <h3 class="a">{{PositionsCount}}</h3>
          <h4>Nº Posiciones</h4>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <h3 class="b">{{EmployeesCount}}</h3>
            <h4>Nº Puestos</h4>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <h3 class="c">{{Vacantes}} / {{EmployeesCount}}</h3>
            <h4>Nº Vacantes</h4>
          </mat-card>
    </mat-grid-tile>
  </mat-grid-list>


<mat-grid-list class="divider" cols="1" rowHeight="60px">
  <mat-grid-tile class="divider"></mat-grid-tile>
</mat-grid-list>



<mat-grid-list cols="3" rowHeight="300px">

  <mat-grid-tile>
      <app-lineal-chart [keys]='KeysSalaryDist' [values]='SalaryDist'></app-lineal-chart>
  </mat-grid-tile>

  <mat-grid-tile>
  <div *ngIf="Colectivos">
      <app-pie-chart [values1]='Colectivos.funcionarios' [values2]='Colectivos.laborales' width="100px" height="100px"></app-pie-chart>
  </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
    <mat-list-item>
      <h5>Promedio Puestos/Área:</h5>
      <span class="mat-list-item-divider"></span>
      <h5 class="b">{{AvgArea}} Puestos</h5>
      </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <h5>Retribución media:</h5>
        <span class="mat-list-item-divider"></span>
        <!-- <h5 class="b">{{SalaryAvg}} Euros</h5> -->
        </mat-list-item>
    <mat-divider></mat-divider>
</mat-card>
</mat-grid-tile>
</mat-grid-list>



      <app-positions-table></app-positions-table>
 

</div>


 