
mat-grid-tile {
  background: #F0F1F5;
  margin: 0;
}

.divider {
  background-color: #F0F1F5;
}

h3 {
  color: #314055;
  font-weight: 500;
  text-align: center;
}

.a {
  color: #48A9C5;
  font-weight: 500;
  text-align: center;
}

.b {
  color: #52D2BC;
  font-weight: 500;
  text-align: center;
}

.c {
  color: #FF5C39;
  font-weight: 500;
  text-align: center;
}

h4 {
  font-weight: 200;
  text-align: center;
  margin-bottom: 20px;
}

h5 {
  margin-bottom: 20px;
  color: #395C87;
  text-align: center;
}

mat-list {
  width: 400px;
}


.mat-list-item-divider {
  flex: 1 1 auto;
}

.label {
  color: blue;
}

.mat-tab-group {
  margin: 0 auto;
  width: 90%;
}

.mat-card {
  width: 70%;
}


